<main class="landing-container">
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <p>Inserisci l'indirizzo e il periodo di interesse per visualizzare i dati meteorologici</p>
      <button class="cta-button" (click)="scrollToForm()">Inizia Ora</button>
    </div>
  </section>

  <!-- Form Section -->
  <section class="form-section" id="form-section">
    <h2 class="h2">Compila il Modulo</h2>
    <app-weather-form (addressChange)="onAddressReceived($event)"></app-weather-form>
  </section>

  <!-- Charts Section -->
  <section class="charts-section">
    <div class="charts-header">
      <div class="charts-title">
        <h2
          *ngIf="
            (tempChartOptions &&
              tempChartOptions.infoToShow &&
              tempChartOptions.infoToShow.formatted) ||
            (windChartOptions &&
              windChartOptions.infoToShow &&
              windChartOptions.infoToShow.formatted) ||
            (humChartOptions && humChartOptions.infoToShow && humChartOptions.infoToShow.formatted)
          "
        >
          Analisi dei Risultati di:
          {{
            tempChartOptions.infoToShow.formatted ||
              windChartOptions.infoToShow.formatted ||
              humChartOptions.infoToShow.formatted
          }}
        </h2>
        <h6 *ngIf="updatedAt">Aggiornato al: {{ updatedAt }}</h6>
      </div>
      <button *ngIf="addressReceived" class="cta-button" (click)="exportLastYear()">
        Esporta ultimi 12 mesi di {{ addressReceived }}
      </button>
    </div>
    <div class="charts-flex-container">
      <div *ngIf="tempChartOptions?.infoToShow" class="chart-card">
        <app-line-chart [chartOptions]="tempChartOptions"></app-line-chart>
      </div>

      <div *ngIf="windChartOptions?.infoToShow" class="chart-card">
        <app-line-chart [chartOptions]="windChartOptions"></app-line-chart>
      </div>

      <div *ngIf="humChartOptions?.infoToShow" class="chart-card">
        <app-line-chart [chartOptions]="humChartOptions"></app-line-chart>
      </div>
    </div>
  </section>
</main>
